/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	line-height: 1;
    width: 100%;
    
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*   */


figure{
    display: flex;
    justify-content: center;
}

img, banner-Estudando {
    height: 60vh;
    width: 100%;   
}

section{
    margin-left: 6rem;
    margin-top: 4rem;
    

}

.title_Teste {

    font-size: 4rem;
    color: #B5442D;
    
}

.title_Dg {
    font-size: 1.7rem;
    color: #B5442D;
    font-weight: bold;
    padding-bottom: 3vh;
}

.btn_Start 
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FED077;
    width: 8em;
    height: 3em;
    font-size: 1.5rem;
    color: #4A4A4A;
    text-decoration: none;
    text-align: center;
}

.btn {
    display: flex;
    justify-content: right;
    margin-right: 6rem;

}

ul , .btn_Back_forward {
    display: flex;
    justify-content: space-between;
    padding-top: 7em;
    z-index: 9999;
}

/* pagina 2 */

.main_Page2{
    height:100vh;
}

.section1{
    background-color: white;
    width: 100%;
    height: 7rem;
}

.section2{
    background-color: #FED077 ;
}

.title_Pag2 {
    color: #B5442D;
    font-size: 28pt;
    font-weight: bolder;
    padding-top: 8vh;
    padding-left: 20vh;
    padding-bottom: 5vh;
}

.text_Pag2 {
    color: #4A4A4A;
    font-size: 20pt;
    padding-left: 20vh;
    font-weight: 500;
    padding-bottom: 13vh;
    line-height: 6vh;
    padding-right: 20vh;
}

/* pagina 3 */

.main_Page3{
    display: flex;
}

.container_Images{
    width: 100%;
    width: 48%;
    display: flex;
}

.container_Text{
    width: 32%;
    padding-top: 15%;
    padding-left: 5%;

}

.title_Pag3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: #dc8518;
    text-align: left;
    padding-bottom: 25px;
    font-weight: 780;
    p

}

.text_pag3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: #4a4a4a;
    text-align: left;
    line-height: 1.3em;
   

}

.container_btnModalpage3{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    position: relative;
    z-index: 9994;
}

.btn_Modalpage3{
        background-color: #FED077;
        width: 12rem;
        height: 2.5rem;
        font-size: 1.5rem;
        color: #4A4A4A;
        text-decoration: none;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding-bottom: 5px;
        
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9995; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.575); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #FED077;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
    height: 60%;
    
  }

  .text_Modalpage3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: #4a4a4a;
    text-align: left;
    line-height: 1.7em;
    padding: 3em;
    padding-top: 5em;
  }
  
  /* The Close Button */
  .close {
    color: #4a4a4a;
    padding: 15px;
    float: right;
    font-size: 50px;
    font-weight: bold;
    width: 70px;
   
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

.imageFront{
    height: 100%;
    width: 50%;
    z-index: 9991;
    position: absolute;
    padding-left: 3em;

}

.imageBack{
    height: 100vh;
    width: 100%;
    z-index: 9990;
    position: relative;
}

.btn_Back_forward_page3 {
    position: fixed; /* Stay in place */
    z-index: 9993; /* Sit on top */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    padding-top: 40%;
}


/* pagina 4 */


.DivHead{
    display: flex;
    width: 100%;
    height: 384px;
    background-color: #FED077;
    
}

.title_Pag4{
    margin-left: 5rem;
    font-size: 67px;
    font-weight: bold;
    color: #B5442D;
    z-index: 99999;
    padding: 200px;
}

.text_Pag4{
    font-size: 40px;
    color: #4A4A4A;
    width: 80%;
    text-align: left;
    margin: 0 auto;
    padding-top: 96px;
    line-height: 5rem;
}

mark{
    background-color: #FED077;
    color: #4a4a4a;
}


